#triggerBtn{
  border: 1px solid #fff;
  border-radius: 9999px;
  margin-bottom: 1.5rem;
  margin-left: 2.5rem;
  font-size: 1.5rem;
  background:  #31C48D;
  padding: 3px 3px;
  color:#fff;
}

#targetItem form{
  position: absolute;
  bottom: 6rem;
  right: .15rem;
  width: 300px;
  height: auto;
}

#targetItem input{
  border-radius: 15px;
  border: 3px dotted #777;
}

#targetItem button{
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 3px 5px;
  background: #31C48D;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
}

#answerTag{
  width: 300px;
  height: 400px;
  background-color: #DEF7EC;
  overflow-y: scroll;
  margin-bottom: 100px;
  padding: 4%;
  border-radius: 30px;
}