.input-area {
    /* background-color: red; */
    min-height:50px;
    display: flex;
    position: absolute;
    bottom: 38px;
    width: 80%;
  }
  
  .plus-button{
    background-color: lightslategray;
    width: 50px;
    color:white;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .MuiInput-root{
    height: 100%;
    width: 100%;
    border:none;
    border-color: white;
  
  }
  
  input{
    border:none;
    width: 100%;
    height: 100%;
    padding-left: 5px;
  }
  input:focus{
    outline:none;
    
  }
  
  .send-button{
    min-width: 10%;
    border-radius:0;
    background-color:#ffcc00; 
    color: aliceblue;
    justify-content: center;
    border:none;
    width: auto;
    opacity: 1;
  }
  .send-button:hover {
    cursor:pointer;
  }

  .send-button:active {
    background-color: #dfb300;
  }
  