#likeBtn{}
#likeBtn input{
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  /* 하트로 바꾸기 */
  background: image();
}

#likeBtn input:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: rgba(186, 12, 12, 1);
}
