.message-container{
  overflow-y: scroll;
  height: 800px;
  background: #BCF0DA;
  min-width: 94vh;
}
.system-message-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.system-message {
  background-color: #55667758;
  border-radius: 100px;
  text-align: center;
  color: white;
  padding: 2px 15px;
  font-size: 14px;
}
.my-message-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.938rem;
}
.my-message {
  background-color: #f7e600;
  border-radius: 8px;
  padding: 8px;
  max-width: 200px;
  font-size: 18px;
}

.your-message-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  align-items: center;
}
.your-message {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  max-width: 200px;
  font-size: 18px;
}
.your-checked{
 font-size: 14px;
 padding: 10px 10px 0; 

}
.my-checked{
 font-size: 14px;
 padding: 10px 10px 0; 
}

.profile-image {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  margin-right: 10px;
}

